<form action="/admin/books/{{book.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">編輯書本</h1>
  </div>
  {{> admin-book-form}}
</form>