<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{book.name}}</h1>
    <p>[{{book.Category.name}}]</p>
  </div>

      <ul class="list-group">
        <li class="list-group-item">瀏覽次數: {{book.viewCounts}}</li>
        <li class="list-group-item">評論數: -</li>
        <li class="list-group-item">收藏數: -</li>
      </ul>

</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">回上一頁</a>